html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../imgs/bg_main.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header {
  position: relative;
  /* contacts */
  /* navbar */
  /* menu transition */
}
header .head_contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 3px;
  right: 5%;
}
header .head_contacts .phone_div, header .head_contacts .wa_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .head_contacts .phone_div .phone_img, header .head_contacts .phone_div .wa_img, header .head_contacts .wa_div .phone_img, header .head_contacts .wa_div .wa_img {
  width: 20px;
}
@media (min-width: 550px) {
  header .head_contacts .phone_div .phone_img, header .head_contacts .phone_div .wa_img, header .head_contacts .wa_div .phone_img, header .head_contacts .wa_div .wa_img {
    width: 23px;
  }
}
@media (min-width: 700px) {
  header .head_contacts .phone_div .phone_img, header .head_contacts .phone_div .wa_img, header .head_contacts .wa_div .phone_img, header .head_contacts .wa_div .wa_img {
    width: 25px;
  }
}
@media (min-width: 900px) {
  header .head_contacts .phone_div .phone_img, header .head_contacts .phone_div .wa_img, header .head_contacts .wa_div .phone_img, header .head_contacts .wa_div .wa_img {
    width: 30px;
  }
}
header .head_contacts .phone_div .phone_text, header .head_contacts .phone_div .wa_text, header .head_contacts .wa_div .phone_text, header .head_contacts .wa_div .wa_text {
  font-family: "Open Sans", Roboto, Montserrat, Arial;
  font-size: 14px;
  color: rgb(32, 32, 32);
  padding-left: 5px;
  font-weight: 700;
  transition: color 0.15s;
}
header .head_contacts .phone_div .phone_text:hover, header .head_contacts .phone_div .wa_text:hover, header .head_contacts .wa_div .phone_text:hover, header .head_contacts .wa_div .wa_text:hover {
  color: rgb(248, 148, 66);
}
@media (min-width: 450px) {
  header .head_contacts .phone_div .phone_text, header .head_contacts .phone_div .wa_text, header .head_contacts .wa_div .phone_text, header .head_contacts .wa_div .wa_text {
    font-size: 15px;
  }
}
@media (min-width: 550px) {
  header .head_contacts .phone_div .phone_text, header .head_contacts .phone_div .wa_text, header .head_contacts .wa_div .phone_text, header .head_contacts .wa_div .wa_text {
    font-size: 16px;
  }
}
@media (min-width: 700px) {
  header .head_contacts .phone_div .phone_text, header .head_contacts .phone_div .wa_text, header .head_contacts .wa_div .phone_text, header .head_contacts .wa_div .wa_text {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  header .head_contacts .phone_div .phone_text, header .head_contacts .phone_div .wa_text, header .head_contacts .wa_div .phone_text, header .head_contacts .wa_div .wa_text {
    font-size: 22px;
  }
}
@media (min-width: 450px) {
  header .head_contacts {
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (min-width: 550px) {
  header .head_contacts {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 700px) {
  header .head_contacts {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (min-width: 900px) {
  header .head_contacts {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
header .head_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
  /* menu */
}
header .head_flex .logo_cont {
  display: flex;
  width: 40%;
}
header .head_flex .logo_cont .logo_link {
  width: 100%;
  cursor: pointer;
}
header .head_flex .logo_cont .logo_link img {
  width: 100%;
}
@media (min-width: 700px) {
  header .head_flex .logo_cont .logo_link img {
    width: 80%;
  }
}
header .head_flex .head_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 40px;
  height: 32px;
  margin-top: 15%;
  /* lines */
}
@media (min-width: 550px) {
  header .head_flex .head_menu {
    width: 50px;
    height: 40px;
    margin-top: 18%;
  }
}
@media (min-width: 700px) {
  header .head_flex .head_menu {
    width: 60px;
    height: 45px;
    margin-top: 15%;
  }
}
@media (min-width: 1100px) {
  header .head_flex .head_menu {
    height: 50px;
    margin-top: 20%;
  }
}
header .head_flex .head_menu .menu_line {
  width: inherit;
  height: 6px;
  background: rgb(139, 139, 139);
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 550px) {
  header .head_flex .head_menu .menu_line {
    border-radius: 10px;
    height: 7px;
  }
}
@media (min-width: 700px) {
  header .head_flex .head_menu .menu_line {
    border-radius: 15px;
    height: 8px;
  }
}
@media (min-width: 900px) {
  header .head_flex .head_menu .menu_line {
    border-radius: 20px;
  }
}
header .head_flex .head_menu:hover .menu_line {
  background: rgb(248, 148, 66);
}
header .head_line {
  margin: auto;
  width: 90%;
  height: 3px;
  border: none;
  border-bottom: 2px solid rgb(139, 139, 139);
  background: rgb(238, 141, 76);
}
@media (min-width: 700px) {
  header .head_line {
    height: 5px;
    border-bottom: 3px solid rgb(139, 139, 139);
  }
}
header .menu_cont {
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: -3px;
  height: 50px;
}
header .menu_cont .navmenu {
  display: flex;
  position: absolute;
  list-style-type: none;
  width: 100%;
  height: inherit;
  right: -100%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: rgb(139, 139, 139);
  transition: right 1s;
}
header .menu_cont .navmenu li a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-family: Roboto, Montserrat, Arial;
  font-size: 100%;
  letter-spacing: 0.1px;
  transition: color 0.25s;
}
header .menu_cont .navmenu li a:hover {
  color: rgb(248, 148, 66);
}
@media (min-width: 550px) {
  header .menu_cont {
    font-size: 120%;
  }
}
@media (min-width: 700px) {
  header .menu_cont {
    font-size: 140%;
  }
}
@media (min-width: 900px) {
  header .menu_cont {
    font-size: 160%;
  }
}
header .head_menu.active .menu_line:nth-child(1) {
  transform: translateY(15px) rotate(135deg);
}
header .head_menu.active .menu_line:nth-child(2) {
  opacity: 0;
}
header .head_menu.active .menu_line:nth-child(3) {
  transform: translateY(-11px) rotate(-135deg);
}
@media (min-width: 550px) {
  header .head_menu.active .menu_line:nth-child(3) {
    transform: translateY(-17px) rotate(-135deg);
  }
}
@media (min-width: 700px) {
  header .head_menu.active .menu_line:nth-child(3) {
    transform: translateY(-22px) rotate(-135deg);
  }
}
@media (min-width: 1100px) {
  header .head_menu.active .menu_line:nth-child(3) {
    transform: translateY(-27px) rotate(-135deg);
  }
}
header .navmenu.active {
  right: 0;
  transition: right 1s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: rgb(90, 90, 90);
}

.footer_grid {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.footer_grid a {
  font-family: "Open Sans", Roboto, Montserrat, Arial;
  font-size: 80%;
  color: white;
  text-decoration: underline;
}
@media (min-width: 550px) {
  .footer_grid a {
    font-size: 90%;
  }
}
@media (min-width: 700px) {
  .footer_grid a {
    font-size: 110%;
  }
}
@media (min-width: 700px) {
  .footer_grid {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .footer_grid {
    width: 70%;
  }
}

#a_gallery {
  color: rgb(248, 148, 66);
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 5% 0 5%;
  gap: 50px;
  justify-items: center;
  margin-top: 5%;
  margin-bottom: 20%;
}

/* image containers */
.image_cont {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.76);
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.image_bg {
  position: absolute;
  border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  background-color: white;
}

.image_bg:hover {
  opacity: 0.25;
  transition: 0.15s;
}

.image_bg:active {
  opacity: 0.4;
}

/* big image */
.big_image_cont {
  display: flex;
  position: fixed;
  /*	justify-content: center; */
  justify-content: space-between;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.932);
}

.big_image {
  width: 770px;
  height: 770px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: solid;
  border-color: rgba(224, 224, 224, 0.76);
  border-radius: 10px;
  border-width: 2px;
  z-index: 100;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* bottom counter */
.bottom_counter {
  font-family: "Open Sans", Roboto, Montserrat, Arial;
  font-size: 150%;
  color: rgba(255, 255, 255, 0.534);
  font-weight: 400;
  text-align: center;
  padding-top: 1%;
}

/* big image arrows */
.arrow_left, .arrow_right {
  height: 12%;
  width: 7%;
  background-color: rgb(128, 128, 128);
  opacity: 0.25;
  z-index: 100;
  max-width: 75px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.arrow_left {
  border-radius: 0 25% 25% 0;
}

.arrow_right {
  border-radius: 25% 0 0 25%;
}

.arrow_left:hover, .arrow_right:hover {
  opacity: 0.35;
}

.arrow_left:active, .arrow_right:active {
  opacity: 0.5;
}

.arrow_mini_left, .arrow_mini_right {
  width: 50%;
  height: 50%;
}

/* grid media query */
@media (max-width: 1450px) {
  .image_cont {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 1250px) {
  .main_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .image_cont {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1080px) {
  .image_cont {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 920px) {
  .main_grid {
    grid-template-columns: 1fr 1fr;
  }
  .image_cont {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 720px) {
  .image_cont {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 610px) {
  .main_grid {
    grid-template-columns: 1fr;
  }
  .image_cont {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 410px) {
  .image_cont {
    width: 250px;
    height: 250px;
  }
}
/* big img query */
@media (max-width: 1000px), (max-height: 850px) {
  .big_image {
    width: 650px;
    height: 650px;
  }
}
@media (max-width: 800px), (max-height: 700px) {
  .big_image {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 600px), (max-height: 550px) {
  .big_image {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 500px), (max-height: 450px) {
  .big_image {
    width: 250px;
    height: 250px;
  }
}/*# sourceMappingURL=gallery.css.map */